<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title font-weight-bold pt-5">Feedbacks</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/adminhome">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>User Feedbacks</li>
            </ul>
        </div>
    </div>
</section>
{% extends "admin/adminbase.html"  %}
{% block content %}
     <!-- courses section -->
     <section class="w3l-courses py-5" id="courses">
        <div class="container py-lg-5 py-md-4 py-2">
            <h5 class="sub-title text-center">Users</h5>
            <h3 class="title-style text-center">Feedback</h3>
            <div class="row justify-content-center">
                {% for f in feedback %}
                <div class="col-lg-4 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-body course-details">
                            <p>Feedback from : {{f.bookId.userId.name}}</p>
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                
                                <p>{{f.title}}</p>
                                <!-- <span class="meta-value">{{r.quantity}}</span> -->
                                <ul class="rating-star">
                                    <li>{{f.rating}} <span class="fas fa-star"></span></li>
                                </ul>
                            </div>
                            <a href="classes.html" class="course-desc">{{f.feedback}}</a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <!-- <span class="fas fa-users"></span> -->
                                    <span class="meta-value"> {{f.current_date}}</span>
                                    <!-- <span class="meta-value"> {{r.time}}</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //courses section -->
    {% if messages %}
    {% for m in messages %}
    <script>alert("{{m}}")</script>
    {% endfor %}
    {% endif %}
{% endblock %}