<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title font-weight-bold pt-5">Bookings</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/userhome">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Bookings</li>
            </ul>
        </div>
    </div>
</section>
{% extends "user/userbase.html"  %}
{% block content %}

<style>
    body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-image: linear-gradient(#201658,#1D24CA);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-image: linear-gradient(#070F2B,#1B1A55);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 10%;
  }
  .col-6 {
    flex-basis: 10%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
</style>

<div class="container">
    <h2>Bookings</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Cake</div>
        <div class="col col-2">Booked on</div>
        <div class="col col-3">Amount paid</div>
        <div class="col col-4">Booking Status</div>
        <div class="col col-5"></div>
        <div class="col col-6">Action</div>
      </li>
      {% for b in booking %}
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">{{b.cakeId.c_name}}</div>
        <div class="col col-2" data-label="Customer Name">{{b.current_date}}</div>
        <div class="col col-3" data-label="Amount">{{b.cakeId.price}}</div>
        <div class="col col-4" data-label="Payment Status">{{b.status}}</div>
        <div class="col col-5" data-label="Payment Status">
          {% if b.status == "booking confirmed" %}
          <a href="cancelbooking?id={{b.id}}"><button class="btn btn-style btn-primary">cancel</button></a></div>
        <div class="col col-6" data-label="Payment Status">
          <a href="feedback?id={{b.id}}"><button class="btn btn-style btn-primary">feedback</button></a></div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% if messages %}
  {% for m in messages %}
  <script>alert("{{m}}")</script>
  {% endfor %}
  {% endif %}
{% endblock %}